@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap");

/* font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;

font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/
#marginBody {
  margin: 0px 20px 10px 20px;
}
.body-color-0 {
  background-color: #c5d8df; /* Red background color */
}

.body-color-1 {
  background-color: #fff7d7; /* Green background color */
}

.body-color-2 {
  background-color: #c7c7c7; /* Blue background color */
}

.body-color-3 {
  background-color: #e6d7ed; /* Red background color */
}

.body-color-4 {
  background-color: #ff9b9b; /* Green background color */
}

/* for button search*/
#buttonSearch-0 {
  background-color: #c5d8df; /* Red background color */
}

#buttonSearch-1 {
  background-color: #fff7d7; /* Green background color */
}

#buttonSearch-2 {
  background-color: #c7c7c7; /* Blue background color */
}

#buttonSearch-3 {
  background-color: #e6d7ed; /* Red background color */
}

#buttonSearch-4 {
  background-color: #ff9b9b; /* Green background color */
}

@media (min-width: 768px) {
  #marginBody {
    margin: 0px 50px 10px 50px;
  }
}

@media (min-width: 1251px) {
  #marginBody {
    margin: 0px 50px 10px 50px;
  }
}
